{% include "header.html" %}
        <!-- About Start-->
        <div class="about mt-100">
            <div class="container">
                <div class="section-header">
                    <h2>About Us</h2>
                    <p>
                        The customer is very important, the customer will be followed by the customer. Children and young people need financing now                    
                        </p>
                </div>
                
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="about-img">
                            <img src="/static/img/about.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="about-content">
                            <h2>Welcome to Our Site</h2>
                            
                            <p>
                                Welcome to Techtics , your gateway to innovative solutions in web, app, and software development. Whether you're here to build your next digital masterpiece, enhance your online presence, or streamline your business operations, we're here to partner with you every step of the way.
                                <br>

                            At Techtics, we combine creativity with technical expertise to deliver cutting-edge solutions tailored to your unique needs. From responsive websites and intuitive mobile apps to robust software systems, we're passionate about turning your ideas into reality.
                            <br>
                            Our team of experienced developers, designers, and tech enthusiasts is dedicated to delivering solutions that not only meet but exceed your expectations. We believe in transparent communication, timely delivery, and ongoing support to ensure your success.
                            </p>
                            <a class="btn" href="#">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for a in About_data %}
                    <div class="col-md-6">
                        <div class="about-img">
                            <img src="/media/{{a.about_img}}" alt="" class="img-fluid">
                        </div>
                        <div class="about-content">
                            <h2>{{a.about_title}}</h2>
                            <p>
                                {{a.about_desc |safe }}
                            </p>
                            <a class="btn" href="#">Read More</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% comment %} <div class="col-md-6">
                        <div class="about-img">
                            <img src="/static/img/about-goal.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="about-content">
                            <h2>Our Goal</h2>
                            <p>
                               The customer is very important, the customer will be followed by the customer. Tomorrow I will make the sauce. I am whole and fair. At the border, the vehicles are trucks. He wants to invest in real estate
                            </p>
                            <a class="btn" href="#">Read More</a>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
        <!-- About End -->

{% include "footer.html" %}