{% include "header.html" %}

         <!-- Clients Start -->
        <div class="clients mt-100" >
            <div class="container">
                <div>
                   <center> <h2 style="font-size: 50px;  color: rgb(24, 157, 236);">Thank You {{ename}} {{name}}</h2></center>
                    <p>
                        
                        Dear {{ename}} {{name}},
                        <br>

                        Thank you for getting in touch with us. Your message has been successfully received!
                        
                        We are currently processing your inquiry and will be in touch with you shortly. Please keep an eye on your email inbox for further correspondence from us.
                        
                        If you have any urgent questions or concerns, feel free to reach out to us directly at info.Techtics.com or contact on 7477078962.
                        <br>
                        <br>
                        Thank you for choosing Techtics. We look forward to assisting you further.
                        <br>
                        <br>
                        Best Regards,
                        <br>
                        <br>
                        The Techtics Team
                        
                        
                        
                        </p>
                </div>

                <div class="owl-carousel clients-carousel">
                    <img src="/static/img/client-1.jpg" alt="Client Logo">
                    <img src="/static/img/client-2.jpg" alt="Client Logo">
                    <img src="/static/img/client-3.jpg" alt="Client Logo">
                    <img src="/static/img/client-4.jpg" alt="Client Logo">
                    <img src="/static/img/client-5.jpg" alt="Client Logo">
                    <img src="/static/img/client-6.jpg" alt="Client Logo">
                    <img src="/static/img/client-7.jpg" alt="Client Logo">
                    <img src="/static/img/client-8.jpg" alt="Client Logo">
                </div>

            </div>
        </div>
        <!-- Clients End -->

{% include "footer.html" %}