<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <style>
        .cont
        {
            font-size: medium;
            color: darkblue;
            font-family:cursive;
            text-align: left;
            
        }
        
    </style>

</head>
<body>
    <div class="clients mt-100" >
        <div class="container">
            <div>
               <center> <h2 style="font-size: 50px; font-family: cursive; color: rgb(24, 157, 236); ">Thank You {{name}}</h2></center>
                
                <div class="cont">  
                 <b >
                    Dear {{name}},
                    <br>

                    Thank you for getting in touch with us. Your message has been successfully received!
                    
                    We are currently processing your inquiry and will be in touch with you shortly. Please keep an eye on your email inbox for further correspondence from us.
                    
                    If you have any urgent questions or concerns, feel free to reach out to us directly at info.Techtics.com or contact on 7477078962.
                    <br>
                    <br>
                    Thank you for choosing Techtics. We look forward to assisting you further.
                    <br>
                    <br>
                                 
                    <div style="color:rgb(14, 49, 202); line-height: 1ch;" >  
                        <br> 
                    
                    Best Regards,
                    <h1>Techtics Team</h1>
                    <u>Email:info@techtics.com</u>
                    <br>
                    <br>
                     <u>Website:www.Techtics.com</u>
                                      
                      
                 </div>       
                         
                  </b>
                </div>
            </div>

            

        </div>
    </div>
    <!-- Clients End -->
</body>
</html>


